body {
  background: #a25050;
  background: -webkit-linear-gradient(to right, #a25050, #c3a2d3);
  background: linear-gradient(to right, #a25050, #c3a2d3);
  min-height: 100vh;
  padding-top: 2rem;
}

.text-gray {
  color: #aaa;
}